@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

@theme {
  --font-bebas-neue: "Bebas Neue", sans-serif;
  --font-bricolage-grotesque: "Bricolage Grotesque", sans-serif;
  --font-familjen-grotesk: "Familjen Grotesk", sans-serif;
}
